<nav class="shadow-lg rounded-sm flex-nowrap relative flex w-full items-center justify-center bg-slate-600 py-4 shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start">
    <div class="w-full grid grid-cols-4 items-center justify-center">
        <div class="items-center px-11">
            <li class="rounded-xl mx-auto w-1/3 text-center text-zinc-100 list-none hover:bg-gradient-to-r from-slate-600 to-slate-800">
                <a class="" method="GET" href="/">Home</a>
            </li>
        </div>
        <div class="text-center items-center px-10">
            <li class="rounded-xl mx-auto w-2/3 text-center text-zinc-100 list-none hover:bg-gradient-to-r from-slate-600 to-slate-800">
                <a class="" method="">Landing Page</a>
            </li>
        </div>
        <div class="text-center items-center px-10">
            <li class="rounded-xl mx-auto w-1/3 text-center text-zinc-100 list-none hover:bg-gradient-to-r from-slate-600 to-slate-800">
                <a class="" method="GET" href="/buy/comprar">Comprar</a>
            </li>
        </div>
        <div class="text-center items-center px-10">
            <li class="rounded-xl mx-auto w-1/3 text-center text-zinc-100 list-none hover:bg-gradient-to-r from-slate-600 to-slate-800">
                <a class="" method="GET" href="/buy/carrito">Ir al Carrito</a>
            </li>
        </div>
</nav>